<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>management.controllers.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listHallManagerController</servlet-name>
        <servlet-class>management.controllers.listHallManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listPositionController</servlet-name>
        <servlet-class>management.controllers.listPositionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>management.controllers.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newDepController</servlet-name>
        <servlet-class>management.controllers.newDepController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editDepController</servlet-name>
        <servlet-class>management.controllers.editDepController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeDepController</servlet-name>
        <servlet-class>management.controllers.changeDepController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePositionController</servlet-name>
        <servlet-class>management.controllers.updatePositionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRpController</servlet-name>
        <servlet-class>management.controllers.DeleteRpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pushSessionController</servlet-name>
        <servlet-class>management.controllers.pushSessionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sessionPositionController</servlet-name>
        <servlet-class>management.controllers.sessionPositionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>promoteAndDemoteController</servlet-name>
        <servlet-class>management.controllers.promoteAndDemoteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savePositionController</servlet-name>
        <servlet-class>management.controllers.savePositionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listHistoryController</servlet-name>
        <servlet-class>management.controllers.listHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newConController</servlet-name>
        <servlet-class>management.controllers.newConController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listHistoryPositionController</servlet-name>
        <servlet-class>management.controllers.listHistoryPositionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listCertificateController</servlet-name>
        <servlet-class>management.controllers.listCertificateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewCertificateController</servlet-name>
        <servlet-class>management.controllers.addNewCertificateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveNewCertificateController</servlet-name>
        <servlet-class>management.controllers.saveNewCertificateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passOjConController</servlet-name>
        <servlet-class>management.controllers.passOjConController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateConController</servlet-name>
        <servlet-class>management.controllers.updateConController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renewalConController</servlet-name>
        <servlet-class>management.controllers.renewalConController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passOjEmpController</servlet-name>
        <servlet-class>management.controllers.passOjEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveChangeCertificateController</servlet-name>
        <servlet-class>management.controllers.saveChangeCertificateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRegPageController</servlet-name>
        <servlet-class>management.controllers.updateRegPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewRpController</servlet-name>
        <servlet-class>management.controllers.CreateNewRpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRPController</servlet-name>
        <servlet-class>management.controllers.SearchRPController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createNewRegController</servlet-name>
        <servlet-class>management.controllers.createNewRegController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editRPController</servlet-name>
        <servlet-class>management.controllers.editRPController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRewardPenaltyController</servlet-name>
        <servlet-class>management.controllers.CreateRewardPenaltyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passOjDepController</servlet-name>
        <servlet-class>management.controllers.passOjDepController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRegController</servlet-name>
        <servlet-class>management.controllers.updateRegController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listDependentController</servlet-name>
        <servlet-class>management.controllers.listDependentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCertificateController</servlet-name>
        <servlet-class>management.controllers.updateCertificateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDependentController</servlet-name>
        <servlet-class>management.controllers.updateDependentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveDependentController</servlet-name>
        <servlet-class>management.controllers.saveDependentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newEmpController</servlet-name>
        <servlet-class>management.controllers.newEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateEmpController</servlet-name>
        <servlet-class>management.controllers.updateEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountInfoController</servlet-name>
        <servlet-class>management.controllers.AccountInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmpInfoController</servlet-name>
        <servlet-class>management.controllers.UpdateEmpInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmpPageController</servlet-name>
        <servlet-class>management.controllers.UpdateEmpPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listCertEmpController</servlet-name>
        <servlet-class>management.controllers.listCertEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCertPageController</servlet-name>
        <servlet-class>management.controllers.UpdateCertPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCertEmpController</servlet-name>
        <servlet-class>management.controllers.SaveCertEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCertPageController</servlet-name>
        <servlet-class>management.controllers.AddNewCertPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCertEmpController</servlet-name>
        <servlet-class>management.controllers.AddNewCertEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewDependentController</servlet-name>
        <servlet-class>management.controllers.addNewDependentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveNewDependentController</servlet-name>
        <servlet-class>management.controllers.saveNewDependentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterRegController</servlet-name>
        <servlet-class>management.controllers.FilterRegController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterDepByLocationController</servlet-name>
        <servlet-class>management.controllers.FilterDepByLocationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDependentController</servlet-name>
        <servlet-class>management.controllers.SearchDependentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterHisDepController</servlet-name>
        <servlet-class>management.controllers.FilterHisDepController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterChangeDepController</servlet-name>
        <servlet-class>management.controllers.FilterChangeDepController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmpController</servlet-name>
        <servlet-class>management.controllers.SearchEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchConController</servlet-name>
        <servlet-class>management.controllers.SearchConController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCerController</servlet-name>
        <servlet-class>management.controllers.SearchCerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHisPosController</servlet-name>
        <servlet-class>management.controllers.SearchHisPosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProController</servlet-name>
        <servlet-class>management.controllers.SearchProController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRewPenEmpController</servlet-name>
        <servlet-class>management.controllers.listRewPenEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>management.controllers.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDependentEmpController</servlet-name>
        <servlet-class>management.controllers.ListDependentEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDependentEmpController</servlet-name>
        <servlet-class>management.controllers.updateDependentEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveDependentEmpController</servlet-name>
        <servlet-class>management.controllers.saveDependentEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveNewDependentEmpController</servlet-name>
        <servlet-class>management.controllers.saveNewDependentEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showDepartmentEmpController</servlet-name>
        <servlet-class>management.controllers.showDepartmentEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showHisDepEmpController</servlet-name>
        <servlet-class>management.controllers.showHisDepEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showHisPosEmpController</servlet-name>
        <servlet-class>management.controllers.showHisPosEmpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailDepController</servlet-name>
        <servlet-class>management.controllers.detailDepController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showHisConController</servlet-name>
        <servlet-class>management.controllers.showHisConController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewPositionController</servlet-name>
        <servlet-class>management.controllers.addNewPositionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchHisConController</servlet-name>
        <servlet-class>management.controllers.searchHisConController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDependentEmpController</servlet-name>
        <servlet-class>management.controllers.SearchDependentEmpController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listHallManagerController</servlet-name>
        <url-pattern>/listHallManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newDepController</servlet-name>
        <url-pattern>/newDepController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editDepController</servlet-name>
        <url-pattern>/editDepController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeDepController</servlet-name>
        <url-pattern>/changeDepController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listPositionController</servlet-name>
        <url-pattern>/listPositionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRpController</servlet-name>
        <url-pattern>/DeleteRpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePositionController</servlet-name>
        <url-pattern>/updatePositionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionPositionController</servlet-name>
        <url-pattern>/sessionPositionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>promoteAndDemoteController</servlet-name>
        <url-pattern>/promoteAndDemoteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savePositionController</servlet-name>
        <url-pattern>/savePositionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listHistoryController</servlet-name>
        <url-pattern>/listHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newConController</servlet-name>
        <url-pattern>/newConController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listHistoryPositionController</servlet-name>
        <url-pattern>/listHistoryPositionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listCertificateController</servlet-name>
        <url-pattern>/listCertificateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewCertificateController</servlet-name>
        <url-pattern>/addNewCertificateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveNewCertificateController</servlet-name>
        <url-pattern>/saveNewCertificateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passOjConController</servlet-name>
        <url-pattern>/passOjConController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateConController</servlet-name>
        <url-pattern>/updateConController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renewalConController</servlet-name>
        <url-pattern>/renewalConController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCertificateController</servlet-name>
        <url-pattern>/updateCertificateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passOjEmpController</servlet-name>
        <url-pattern>/passOjEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveChangeCertificateController</servlet-name>
        <url-pattern>/saveChangeCertificateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRegPageController</servlet-name>
        <url-pattern>/updateRegPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createNewRegController</servlet-name>
        <url-pattern>/createNewRegController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passOjDepController</servlet-name>
        <url-pattern>/passOjDepController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRegController</servlet-name>
        <url-pattern>/updateRegController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listDependentController</servlet-name>
        <url-pattern>/listDependentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDependentController</servlet-name>
        <url-pattern>/updateDependentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveDependentController</servlet-name>
        <url-pattern>/saveDependentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pushSessionController</servlet-name>
        <url-pattern>/pushSessionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRewardPenaltyController</servlet-name>
        <url-pattern>/CreateRewardPenaltyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editRPController</servlet-name>
        <url-pattern>/editRPController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRPController</servlet-name>
        <url-pattern>/SearchRPController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewRpController</servlet-name>
        <url-pattern>/CreateNewRpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newEmpController</servlet-name>
        <url-pattern>/newEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateEmpController</servlet-name>
        <url-pattern>/updateEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountInfoController</servlet-name>
        <url-pattern>/AccountInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmpInfoController</servlet-name>
        <url-pattern>/UpdateEmpInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmpPageController</servlet-name>
        <url-pattern>/UpdateEmpPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listCertEmpController</servlet-name>
        <url-pattern>/listCertEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCertPageController</servlet-name>
        <url-pattern>/UpdateCertPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCertEmpController</servlet-name>
        <url-pattern>/SaveCertEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCertPageController</servlet-name>
        <url-pattern>/AddNewCertPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCertEmpController</servlet-name>
        <url-pattern>/AddNewCertEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewDependentController</servlet-name>
        <url-pattern>/addNewDependentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveNewDependentController</servlet-name>
        <url-pattern>/saveNewDependentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterRegController</servlet-name>
        <url-pattern>/FilterRegController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterDepByLocationController</servlet-name>
        <url-pattern>/FilterDepByLocationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDependentController</servlet-name>
        <url-pattern>/SearchDependentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterHisDepController</servlet-name>
        <url-pattern>/FilterHisDepController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterChangeDepController</servlet-name>
        <url-pattern>/FilterChangeDepController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmpController</servlet-name>
        <url-pattern>/SearchEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchConController</servlet-name>
        <url-pattern>/SearchConController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCerController</servlet-name>
        <url-pattern>/SearchCerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHisPosController</servlet-name>
        <url-pattern>/SearchHisPosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProController</servlet-name>
        <url-pattern>/SearchProController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRewPenEmpController</servlet-name>
        <url-pattern>/listRewPenEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/ChangePassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDependentEmpController</servlet-name>
        <url-pattern>/ListDependentEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDependentEmpController</servlet-name>
        <url-pattern>/updateDependentEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveDependentEmpController</servlet-name>
        <url-pattern>/saveDependentEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveNewDependentEmpController</servlet-name>
        <url-pattern>/saveNewDependentEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showDepartmentEmpController</servlet-name>
        <url-pattern>/showDepartmentEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showHisDepEmpController</servlet-name>
        <url-pattern>/showHisDepEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showHisPosEmpController</servlet-name>
        <url-pattern>/showHisPosEmpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailDepController</servlet-name>
        <url-pattern>/detailDepController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showHisConController</servlet-name>
        <url-pattern>/showHisConController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewPositionController</servlet-name>
        <url-pattern>/addNewPositionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchHisConController</servlet-name>
        <url-pattern>/searchHisConController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDependentEmpController</servlet-name>
        <url-pattern>/SearchDependentEmpController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Hall.jsp</welcome-file>
    </welcome-file-list>
</web-app>
